* {
  font-family: "Nunito", sans-serif;
  color: black;
}

body {
  margin: 0;
  background-image: url("./assets/images/alisa-anton-FbRGK2rZs8g-unsplash.jpg");
  background-size: cover;
}

header,
.headerText,
.footerText {
  background-color: rgba(54, 51, 51, 0.959);
  color: white;
}

p {
  font-size: 1.5rem;
}

h1 {
  padding-bottom: 25px;
}

nav {
  margin-bottom: 25px;
  border-bottom: 5px solid black;
  background-color: rgba(54, 51, 51, 0.959);
}

nav li {
  cursor: pointer;
}

nav li:hover span {
  background-color: rgba(54, 51, 51, 0.867);
  color: white;
  border-radius: 10%;
  font-size: 1.3rem;
  font-weight: bolder;
}

form {
  width: auto;
}

input {
  font-size: 1.5rem;
  background: none;
  border: 1px solid grey;
  color: white;
  width: 40%;
}

label {
  font-size: 1rem;
}

.nameLabel,
.emailLabel,
.messageLabel {
  font-size: 2rem;
}

textarea {
  font-size: 1.25rem;
  width: 60%;
  border: 1px solid grey;
  background: none;
  color: white;
  resize: none;
}

input:focus,
textarea {
  outline: none;
}

section {
  margin-bottom: 10%;
}

footer {
  background-color: rgba(54, 51, 51, 0.959);
  border-top: 5px solid black;
  padding: 3%;
  display: flex;
  justify-content: space-around;
}

.github:hover,
.linkdin:hover,
.twitter:hover {
  border: 1px solid white;
}

i {
  font-size: 3rem;
}

.weatherdashboard,
.scheduler,
.justmusicreviews,
.musicdashboard {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.contactButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(157, 150, 150);
  border: none;
  border-radius: 15px;
  box-shadow: rgba(54, 51, 51, 0.959);
}

.contactButton:hover {
  background-color: black;
}

.profilePic,
.contactPic {
  width: auto;
  height: auto;
  max-width: 240px;
  max-height: 320px;
  padding: 50px;
  margin-bottom: 50px;
}

span,
label {
  font-size: 1.2rem;
  border-radius: 5%;
  border: none;
  color: white;
}

#wrapperContent {
  border-radius: 4%;
  background-color: rgba(54, 51, 51, 0.867);
  color: white;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

.aboutMeHead,
.contactMeHead {
  color: rgba(54, 51, 51, 0.959);
}

.card-title {
  border-top: 1px solid black;
}

/* .project-card {
  width: 200px;
  height: 200px;
  max-width: 250px;
  max-height: 250px;
} */

/* .card-image-top {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
} */
.card-image {
  max-width: 300px;
  max-height: 150px;
  background-color: rgba(54, 51, 51, 0.959);
  display: inline;
}
.card-text,
.card-title {
  background-color: rgba(54, 51, 51, 0.959);
  color: white;
}
