nav {
  margin: 0;
  margin-bottom: 2rem;
  /* background-image: linear-gradient(to left, #6a7152, #63a46c ); */
  font-family: 'Montserrat', sans-serif; 
  color: black;
  font-size: 1.5rem;
}

span {
    text-decoration: underline;
}